.stock{
    background-image:url("./stock.jpg") ;
    background-size: cover;
}
.stock1{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
    padding-top: 20px;
}
.stock2{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock3{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock4{
    color:white;
    font-size: 25px;
    margin-left: 20px;
}
.stock5{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock6{
    color:yellowgreen;
    font-size: 25px;
    margin-left: 20px;
}
.stock7{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock8{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock9{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock10{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock11{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock12{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock13{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock14{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock15{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock16{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock17{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock18{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock19{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}

.stock20{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock21{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock22{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock23{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock24{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.stock25{
    color:blue;
    font-size: 40px;
    font: bold;
    margin-left: 20px;
}
.stock26{
    color:black;
    font-size: 25px;
    margin-left: 20px;
}
.void{
    color:red;
}
